@font-face{
    font-family: 'Raiderfont',sans-serif;
    src: local('Raiderfont'), url('./assets/fonts/Raiderfont.ttf') format('truetype')
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat',sans-serif;
    font-size: 12px;
    width: 100%;
    height: 100vh;
}

.left,
.right{
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: -1;
}

.left{
    background: #B3B4AF;
    left: 0%;
    width: 0%;
}

.right{
    background: #191921;
    right: 0%;
    width: 100%;
}

.nav ul{
    display: flex;
    justify-content:space-around ;
    align-items: center;
    height: 80px;
    padding: 0 20px;
}

.nav ul li{
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 8px;
    font-weight: 600;
    padding: 0 30px;
}

.nav .logo{
    flex: 1;
    font-size: 18px;
    letter-spacing: 0;
}

.nav .menu{
    flex: 1;
    font-size: 18px;
}

.nav .collection{
    flex: 1;
}

.nav .explore{
    flex: 4;
}

.nav .search{
    flex: 3;
}

.nav .profile{
    flex: 1;
}
li.profile .img{
    background-image: url('../../assets/img/user.jpg');
    background-position: 50%;
    background-size: cover;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.img-wrapper{
    position: absolute;
    bottom: 0;
    left: 180px;
}

.img-wrapper .bg{
    background-image: url('../../assets/img/bg.jpg');
    background-position: 50%;
    background-size: cover;
    height: 550px;
    width: 800px;
}

.info{
    position: absolute;
    bottom: 0;
    left: 180px;
    background: rgba(0, 0, 0, .8);
    padding: 0 10px;
}

.info ul li{
    display: inline-block;
    padding: 20px 25px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 8px;
    font-weight: 600;
}

.info i{
    font-size: 18px;
}

.text{
    position: absolute;
    top: 50%;
    right: 100px;
    transform: translateY(-50%);
}

.text h1{
    font-size: 90px;
    color: #fff;
    font-family: "Raiderfont",sans-serif;
    text-transform: uppercase;
}

.text p{
    font-size: 20px;
    color: #fff;
    font-family: monospace;
}

.bottom-nav{
    position: absolute;
    bottom: 100px;
    right: 100px;
}

.bottom-nav ul li{
   color: #fff;
   text-transform: uppercase;
   letter-spacing: 15px;
   margin-top: 20px;
   list-style: none;
}

.name{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 90px;
    left: -270px;
    font-family: "Raiderfont",sans-serif;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 2px #fff;
}